body{
    background: rgb(76, 232, 217);
    padding: 0;
}


.resume img{
    border: 12px;
    border-color: rgb(0, 1, 1);
    padding-top: 5rem;
    position:absolute;
}

.this{
    color: bisque;
    font-size: 2rem;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    margin-top: 3rem;
} 
